@import "media-queries";
@import "vars";

@include mq($max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Retina-specific stuff here */

}
