// Vars
$container: 1170px;
$padContainer: 30px;
$baseFz: 16; // Font-size
$baseLh: 1.2; // Line-height
$baseFf: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif;


// MIXINS and func
@function remy($pxsize) {
	@return ($pxsize/$baseFz)+rem;
}

@mixin autoWidth {
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

@mixin centerTrans($position: center) {
	position: absolute;

	@if $position==x {
		left: 50%;
		transform: translateX(-50%);
	}

	@else if $position==y {
		top: 50%;
		transform: translateY(-50%);
	}

	@else {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin before($top: null, $left: null, $w: null, $h: null) {
	content: '';
	position: absolute;

	@if $top !=null {
		top: $top;
	}

	@if $left !=null {
		left: $left;
	}

	@if $w !=null {
		width: $w;
	}

	@if $h !=null {
		height: $h;
	}
}

@mixin fontStyle($fz: null, $fw: null, $color: null, $tt: null) {
	@if $fz !=null {
		font-size: remy($fz);
	}

	@if $fw !=null {
		font-weight: $fw;
	}

	@if $color !=null {
		color: $color
	}

	@if $tt !=null {
		text-transform: $tt;
	}
}

@mixin hideText($block: null) {
	/* Hide the text. */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	@if $block==b {
		display: block;
	}

	@else if $block==ib {
		display: inline-block;
	}
}

/********* MEDIA *********/
$breakpoints: (xs: 576px,
sm: 768px,
md: 992px,
lg: 1200px);

@mixin media($breakpoint) {

	// If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {

		// Get the breakpoint value.
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		// Write the media query.
		@media (max-width: ($breakpoint-value - 1)) {
			@content;
		}

		// If the breakpoint doesn't exist in the map.
	}

	@else {

		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}